---
layout: default
---
<section class="previews">
  <div>
    <figure class="hero_profile_img absolute-bg preview__img"></figure>
    <div class="previews__container">

      <h1>{{ site.title }}</h1>


      <ul class="bullet-desc">
          <li>Web Enthusiast</li>
          <li>Computer Engineer </li>
          <li id="vimaddict">im Addict {% include vim.html %} </li>
          <li>Dog Lover</li>
      </ul>

      <ul class="footer__social">
          <li><a class="icon fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
          {% for social in site.social %}
          <li><a class="icon fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
          {% endfor %}
      </ul>
      
    </div>
  </div>

  <div>
    <header>
      <ul class="tabs">
        <li class="tabs__item">About</li>
        <li class="tabs__item">Posts</li>
      </ul>
    </header>

    {% include about.html %}

    {% include posts.html %}

  </div>

</section>
