<div class="tab">
    <p id="about">

        Hi! My name is Dylan Huang and I am currently studying Computer Engineering at the University of Illinois at Urbana-Champaign.

        I grew up in the heart of the silicon valley - Palo Alto (Gunn High School Class of 2015 ~ Go Titans)! 

        Besides learning about 💻 and honing my web development skills, I like to jam out on 🎸, play and watch 🏀/⚽/🏸, cruise around on my pennyboard, and make 🎥!
    </p>
    <span id="picture-caption"> Venice, Italy </span>
    <img src="/assets/image/webp/venice.webp">
</div>
