<div class="tab">
    <p id="about">

        Hi! My name is Dylan Huang and I am current student at the University of Illinois at Urbana-Champaign studying Computer Engineering.

        I grew up in the heart of the silicon valley - Palo Alto (Gunn High School Class of 2015 ~ Go Titans)! 

        Besides learning about 💻 and honing my web development skills, I like to jam out on 🎸, play and watch 🏀/⚽/🏸, cruise around on my pennyboard, and make 🎥!
    </p>
    <span id="picture-caption"> Venice, Italty </span>
    <img src="http://i.imgur.com/9omtcbS.jpg">
</div>
