<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src="{{'/assets/js/github-activity.js' || prepend: site.baseurl }}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/modernizr-custom.js' | prepend: site.baseurl }}"></script>


