@import
'base',
'mixins',
'extends',
'layout',
'components',
'animations',
'helpers',
'syntax'
;

.icon{
  color: white;
}

.bullet-desc{
  font-size: 1.3em;
}

#about{
  padding: 30px ;
  margin: 0;
}

#picture-caption{
  margin-left: .5em;
  font-size: 0.7em;
}

.post-image-wrapper{
  height: 7em;
  width: 7em;
  border-radius: 50%;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;

  @media(min-width: $mq-md){
    right: 2em;
  }
  @media(min-width: $mq-lg){
    right: 3em;
  }
  @media(min-width: $mq-xl){
    right: 5em;
  }
}

.post-image{
  width: initial;
  max-width: initial;

  height: inherit;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#sj-quote{
  font-size: .9em;
}

.post{
  ul, ol{
    margin: auto;
    padding: 0px 0px 0px 20px;
    list-style-type: unset;
  }
  .highlight{
    overflow: auto;
  }
}
