@import
'base',
'mixins',
'extends',
'layout',
'components',
'animations',
'helpers',
'syntax'
;

.icon{
    color: white;
}

.bullet-desc{
    font-size: 1.3em;
}

#about{
    padding: 30px ;
    margin: 0;
}

#picture-caption{
    margin-left: .5em;
    font-size: 0.7em;
}

.post-image{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}
